APP_PORT=3010
SWAGGER_TITLE=QuimiPort API (DevOps)
SWAGGER_DESCRIPTION=Rest API created for QuimiPort Project (DevOps)
SWAGGER_VERSION=0.1.0

DATABASE_HOSTNAME=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_NAME=quimiport

# Connection string usada por ferramentas (Prisma CLI, migrations)
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/quimiport?schema=public

NODE_TLS_REJECT_UNAUTHORIZED=0